# Place-bestanden die met "rojo build" gemaakt worden
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.lock

# Systeembestanden
.DS_Store
Thumbs.db

# Tool build output
tools/animal-models/build/
tools/rbxm-writer/target/
__pycache__/
